<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form class="form-signin">
            <img src="../../assets/logo.png" class="logo">
            <br/>
            <p>Welcome to RetroTalk!</p>
            <hr class="my-4">
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" (click)="signInWithFB()"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
          </form>
          <br/>
          <a href="http://retrotalk.herokuapp.com/privacypolicy.pdf" target="_blank" class="policy"><p>Privacy Policy</p></a>
          <div hidden>
            <img src="../../assets/loader1.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
