.orb-container {
  height: 100%;
  padding-top: 3%;
  padding-bottom: 3%;

}

.orb-row {
  height: 100%;
  position: relative;
}

.orb {
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  width: 40%;
  border: solid rgb(40, 35, 16) 10px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  transition: all 1s;
}
.orb:hover {
  transform: scale(1.1);
  border-color:  #ff3603;
}

.arthur {
  background-image: url(../../../assets/login_orbs/arthur.jpg);
}

.starman {
  background-image: url(../../../assets/login_orbs/starman.jpg);
}


.orb-overlay-image {
  width: 100%;
  opacity: 0;
  border-radius: 50%;
  transition: all 1s;
}

.orb-overlay-image:hover {
  opacity: 1;
}

.orb-overlay-image-taken {
  width: 100%;
  border-radius: 50%;
}

