/* Arthur and StarMan orbs @ Login */
.row{
  margin-top: 120px;
}

.arthur-orb{
  border: 7px solid rgb(40, 35, 16);
  border-radius: 50%;
  width:320px;
  height:320px;
  background-image: url(../../../assets/login_orbs/arthur.jpg);
  background-size: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-left:auto;
  margin-right:auto;
}

.arthur-orb:hover{
  border-color: #ff3603;
  transform: scale(1.1);
}

.select-arthur{
  opacity: 0;
  border-radius: 50%;
  widows:320px;
  height:320px;
  overflow:hidden;
  cursor:pointer;
  transition:all 1s;
}

.select-arthur:hover{
  opacity:1;
}

.starman-orb{
  border: 7px solid rgb(40, 35, 16);
  border-radius: 50%;
  width:320px;
  height:320px;
  background-image: url(../../../assets/login_orbs/starman.jpg);
  background-size: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  margin-left:auto;
  margin-right:auto;
}

.starman-orb:hover{
  border-color: #ff3603;
  transform: scale(1.1);
}

.select-starman{
  opacity: 0;
  border-radius: 50%;
  widows:305px;
  height:305px;
  overflow:hidden;
  cursor:pointer;
  transition:all 1s;
}

.select-starman:hover{
  opacity:1;
}