* {
  margin: 0;
  padding: 0;
}

@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Retro Nouveau";
  src: url("/assets/fonts/Retro-Nouveau-JNL-W05-Regular.woff2") format("woff2"),
       url("/assets/fonts/Retro-Nouveau-JNL-W05-Regular.woff") format("woff");
}

h1, h2, h3, h4, h5, h6 {
  padding: 5px;
  font-family: "Retro Nouveau";
  background-color: #ceb69c;
  border-radius: 10px;
}

button {
  font-family: "Retro Nouveau";
}

$fa-font-path:  "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

html {
  height: 100%;
  body {
    background-image: url('./assets/retro-bg.jpg');
    background-size: 100% auto;
    height: 100%;
  }
}

.big-tv-container {
  display: inline-block;
  position:relative;
  width: 948px;
  height: 640px;

  .tv-overlay {
    width: 100%;
    max-width: 100%;
    z-index: -1;
  }

  .user-status {
    position:absolute;
    left: 150px;
    top: 408px;
    z-index: -2;
  }

  .video {
    position:absolute;
    left: 100px;
    top: 40px;
    width: 640px;
    height: 480px;
    z-index: -3;
    background-image: url('./assets/blank_video_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}




.small-tv-container {
  display: inline-block;
  position:relative;
  width: 474px;
  height: 320px;

  .tv-overlay {
    width: 100%;
    max-width: 100%;
    z-index: -1;
  }

  .video {
    position:absolute;
    left: 50px;
    top: 20px;
    width: 320px;
    height: 240px;
    z-index: -3;
    background-image: url('./assets/blank_video_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}


p {
  font-family: "Retro Nouveau";
  background-color: #c26611;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
}


.tv-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -117px;
}
