<div class="modal-header">
  <h4 class="modal-title">Who do you want to call?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body retro-modal-body modal-table">
  <table>
    <tr>
      <th colspan="3">Contacts</th>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 1
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 2
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 3
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 4
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 5
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 6
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 7
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/profile.jpeg">
      </td>
      <td>
        Contact 8
      </td>
      <td>
        <button class="btn btn-primary">Call</button>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
