.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.retro-modal-body {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  font-family: "Retro Nouveau";
}

.modal-table img {
  border-radius: 70%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
}

.modal-table td {
  padding: 10px 10px 5px 20px;
}

.modal-table th {
  padding: 10px 10px 5px 20px;
  font-size: 20px;
}

.modal-table tr {
  border-bottom: 1px solid #ccc;
}

.modal-table table {
  width: 100%;
}
