.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.modal-body {
  text-align: center;
  font-family: "Retro Nouveau";
}

.modal-body button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  display: inline-block;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px 20px;
}

.modal-body img {
  display: inline-block;
  width: 300px;
  padding: 20px 20px;
}

h4 {
  background-color: white;
}
