<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="header-buffer">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-center">
      <h1>About This App</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="small-tv-container">
        <img class="tv-overlay" src="../../assets/tv_overlay.png">
        <video class="video" #video poster="../../assets/blank_video_bg.jpg" src="../../assets/about/telephone_tv_final.mp4"></video>
      </div>
    </div>
  </div>
  <div class="row margin-big">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h2>Retro Talk Was Created By:</h2>
    </div>
  </div>
  <div class="row margin">
    <div class="col-sm-4">
      <img src="../../assets/about/jessica.png">
    </div>
    <div class="col-sm-4">
      <img src="../../assets/about/tim.png">
    </div>
    <div class="col-sm-4">
      <img src="../../assets/about/michael.png">
    </div>
  </div>
  <div class="row margin-big">
    <div class="col-sm-4 offset-sm-4 text-center">
      <h2>Core Technologies:</h2>
    </div>
  </div>
  <div class="row margin">
    <div class="col-sm-4 offset-sm-2 text-center">
      <img src="../../assets/about/tv_one.png">
    </div>
    <div class="col-sm-4 text-center">
      <img src="../../assets/about/tv_two.png">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="header-buffer">&nbsp;</div>
    </div>
  </div>
</div>

